---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
---

<Base title="Andrew Snider">
  <div class="mx-auto w-full max-w-5xl px-6 sm:px-8">
    <Hero />
  </div>
</Base>
